<!--<div class="page-header">-->
<body>
  <div class="container">
  	<div class="row-fluid">
  <div class="span2">
<img src=http://image.cdnllnwnl.xosnetwork.com/pics32/400/IL/ILCBRSFOBHSDYFH.20120913111248.jpg />
  </div>
  	<div class="span7">
  	<h1>About</h1>

<p>
	Thank you for visiting The Food Plate! I want this website to be a place where homecooks can share recipes, techniques, or any other food related topics. Please keep in mind that this is my first website so if there are any technical issues or just a new feature that you would like please don't hesitate to contact me. My contact information is under the 'Contact' tab at the top of the page.
</p>
<p>
	Enjoy!
</p>
<p>
	BR
</p>
</div>

</div>
</div>