<h1><i>The Food Plate</i></h1>
<h4>The largest community of online foodies</h4>
<p>
	This is my first web page
	<%= link_to "Google", "http://google.com" %>
</p>
<p>
	<%= link_to "Sign Up Now", "#" %>

</p>