<div class="hero-unit">
<h1>The Food Plate</h1> 

<h1><small>The largest community of online foodies</small></h1>
</div>
<p>
	This is my first web page
	<%= link_to "Google", "http://google.com" %>
</p>
<p>
	<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-medium" %>
</p>