$btnPrimaryBackground: green;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {
	margin-top: 60px;
	color: gray;
	position: fixed;
	bottom: 0;
	z-index:999999;
}