$btnPrimaryBackground: green;


@import 'bootstrap';

body {
	padding-top: 60px;
    background-color: gainsboro;
}



@import 'bootstrap-responsive';

.footer {
position:fixed;
    bottom:0;
    z-index:999999;
  
}

.navbar-inner {
  height: 40px; 
}


/* Required for jQuery Masonry */

.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 214px;
    background-color: darken(oldlace, 20%);
}

.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.description {
    margin: 10px 0 5px;
}

.form-actions
{
    background-color: gainsboro;
}

.btn {
      -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}



